//Empezamos el Sass
/*Reacomodo el CSS*/


//nesting - anidamiento




/*Index*/ 

//@import "partials/index"
@use "partials/variables";

@use"partials/index";
@use "partials/camisetas"; 

/* Reset*/    
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

/*Valores que se repiten*/

footer p{
    margin-bottom: 1px;
    text-align: left;
    margin: 10px;
    font-size: 20px;
}

footer img{
    color: #D8C4B6;
    margin-left: 100px;
    margin-right: -80px;
} 
        
h2{
    color: #3E5879;
    background-color: #F5EFE7; 
    font-family: "Nunito Sans", sans-serif; 
}

header h1{ 
    font-family: "Nunito Sans", sans-serif;
    color:#D8C4B6;
    text-decoration: none;
}


li {font-family: "Nunito Sans", sans-serif;
    margin-top: 150px;
    margin-left: 100px;
}


.formulario{color: variables.$azul-oscuro;
    font-size: 1.5rem; 
    font-weight: bold;
}

.contacto{
    color: #213555;
    
}


.encabezado{
    display: grid;
    align-items: center ;
    background-color:  variables.$azul-oscuro;
    width: 100%;
    font-family: variables.$font;
}

body{
    background-color: variables.$blanco;   
    font-family: variables.$font;  
}

.links{
    color: variables.$gris;
    font-size: 1.8rem;
    margin-left: 70px; 
    font-family: variables.$font;}

.pie-de-pagina{
    display: flex;
    @include variables.flex_config(row, left, flex-start);
    background-color: variables.$azul-oscuro;
    width: 100%;
    color: variables.$gris;
    margin-top: 400px;
    font-family: variables.$font;}


.parrafos{
    font-family: variables.$font;
    color: variables.$azul-oscuro;
    background-color: variables.$blanco;
    font-size: 1.5rem; 
    text-transform: capitalize;
    text-align: center;
    font-weight: normal;
    margin: 20px;
    margin-top: 150px;
}         

.ejecutivos{
    display: flex;
    @include variables.flex_config(row, center, center);
    width: 50%;
    padding: 20px;
    margin-left: 450px;

}
img {
  max-width: 100%;
  height: auto;
}



/*MEDIA QUERYS*/    
@media (max-width: 576px) {

    body {
    overflow-x: hidden; }

    /*index*/
    .intro{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    align-items: center;
    padding: 10px;}

    .links-encabezados{
    @include variables.flex_config(column,flex-start,center);
    margin: 10px;
    margin-left: 350px;
    font-size: 1.3rem}

    .links{
    display: flex;
    @include variables.flex_config(row,flex-start,center);
    margin: 2px;
    padding: 15px;
    font-size: 1.1rem;}

    .links-index{
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem}

    .contenedor-opinion{
    margin-top: 400px;}

    .titulo-principal{
    display: flex;}    

    .pie-de-pagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;}
        
    a img {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: space-between; 
    }
    
    .parrafos{
    display: flex;
    font-size: 1.2rem;
    @include variables.flex_config(column, center, center);
    }

    .camisetas-equipos{
        display: flex;
        font-size: 1.5rem;
    }

    .ejecutivos{
        display: flex;
        margin-left: 150px;
        height: 100%;
        
    }

    img {
    max-width: 100%;
    height: auto; 
    }


    


    

}

@media (min-width: 577px) and (max-width:1110px) {

    .intro{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    align-items: center;
    padding: 10px;}

    .links-encabezados{
    @include variables.flex_config(column,flex-start,center);
    margin: 10px;
    margin-left: 350px;
    font-size: 1.3rem}
    
    .links-index{
    flex-direction: column;
    justify-content: flex-start;
    font-size: 4rem}

    .contenedor-opinion{
    margin-top: 400px;}

    .pie-de-pagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;}
        
    a img{    
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: space-between;}

    .links{
    display: flex;
    @include variables.flex_config(row,flex-start,center);
    margin: 5px;
    padding: 20px;
    margin-left: 20px;
    font-size: 1.1rem}

    .parrafos{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    }

    .camisetas-equipos{
    display: flex;
    font-size: 1.5rem;
    }


    .pie-de-pagina{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;}
        
    a img {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: space-between;
  }

    .ejecutivos{
        display: flex;
        margin-left: 150px;
        height: 100%;
        
    }
    
    .card-group{
        display: grid;
    }

} 