@use "variables";

.titulo-principal{ 
    display: block;
    background-color:  variables.$azul-oscuro;
    color: variables.$gris;
    font-family: variables.$font;
    font-size: 2rem;}  

.links-encabezados{
    color: variables.$gris;
    font-size: 1.5rem;
    width: 100%;
    margin-left: 88%; 
    font-family: variables.$font;}

.intro{
    width: 100%;
    color: variables.$azul-oscuro;
    display: flex;
    flex-direction: row;
    padding: 22px;
    font-size: 2.2rem;
    margin-top: 15px;
    justify-content: center;
    grid-template-columns: 85%; 
    grid-template-rows: 150px;}

.links-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    border-radius: 66px 66px 66px 66px;
    font-family: variables.$font;
    font-size: 5.5rem;
    color: variables.$azul-oscuro;
    text-decoration: none;
    margin-left: 10px;}
     .links-index:hover{
        background-color: #D8C4B6;
        border: 2px groove #213555;
        border-radius: 63px 63px 63px 63px;
        -webkit-border-radius: 63px 63px 63px 63px;
        -moz-border-radius: 63px 63px 63px 63px;}

.contenedor-opinion{
    margin-top: 200px;
    display: grid;
    grid-template-rows: auto;
    .opinion{
        font-size: 1.5rem;
        border: 2px solid black;
        padding: 5px;}}    


